<app-topbarleftmenu> </app-topbarleftmenu>

<div class="main-page">
        <div class="content_area">
    <!-- start content area here -->
        <div class="tables_area">
            <h2 class="page_heading" >Edit Parental Filter</h2>      
        <div class="white_box">
            <div class="add_formarea">
            <form   [formGroup]="editFilterForm" (ngSubmit)="onSubmit()" name="editFilterForm">               
                <div class="row">
                    <aside class="col-sm-10">
                        <div class="form-group">
                        <label class="text-uppercase">Filter Topic</label>
                        <input value="" class="form-control" formControlName="filterTopic" type="text" [ngClass]="{ 'is-invalid': submitted && f.filterTopic.errors }">
                            <div *ngIf="submitted && f.filterTopic.errors" class="invalid-feedback">
                                    <div *ngIf="f.filterTopic.errors.required">This field is required</div>
                            </div>
                        </div>
                    </aside>
                </div>
                <div class="row">
                    <aside class="col-sm-10">
                        <div class="form-group">
                                <label class="text-uppercase">Check Title</label>
                                <input value="" class="form-control " formControlName="checkTitle" type="text" [ngClass]="{ 'is-invalid': submitted && f.checkTitle.errors }">
                                <div *ngIf="submitted && f.checkTitle.errors" class="invalid-feedback">
                                        <div *ngIf="f.checkTitle.errors.required">This field is required</div>
                                </div>
                        </div>
                    </aside>

                </div>
                <div class="row">
                        <aside class="col-sm-10">
                            <div class="form-group">
                                    <label class="text-uppercase">Check Body</label>
                                    <input value="" class="form-control " formControlName="checkBody" type="text" [ngClass]="{ 'is-invalid': submitted && f.checkBody.errors }">
                                    <div *ngIf="submitted && f.checkBody.errors" class="invalid-feedback">
                                            <div *ngIf="f.checkBody.errors.required">This field is required</div>
                                    </div>
                            </div>
                        </aside>
    
                    </div>
                    <div class="row">
                            <aside class="col-sm-10">
                                <div class="form-group">
                                        <label class="text-uppercase">Replace Word</label>
                                        <input value="" class="form-control" formControlName="replaceWord" type="text" [ngClass]="{ 'is-invalid': submitted && f.replaceWord.errors }">
                                        <div *ngIf="submitted && f.replaceWord.errors" class="invalid-feedback">
                                                <div *ngIf="f.replaceWord.errors.required">This field is required</div>
                                        </div>
                                </div>
                            </aside>
                    </div>
    

                

                <div class="row">

                <aside class="col-sm-5">
                    <button type="submit" id="upload" class="blue_btn yellow_btn big_yellow text-uppercase" >Update Filter</button>

                </aside>
                </div>
                </form>
                </div>

            </div>
        </div>
    </div>
</div>
