<app-topbarleftmenu> </app-topbarleftmenu>

<div class="main-page">
        <div class="content_area">
    <!-- start content area here -->
        <div class="tables_area">
            <h2  class="page_heading" style="font-size:28px;">Add Safe Article</h2>      
        <div class="white_box">
            <div class="add_formarea">
            <form   [formGroup]="addSafeArticleForm" (ngSubmit)="onSubmit()">               
                <div class="row">
                    <aside class="col-sm-10">
                        <div class="form-group">
                        <label class="text-uppercase">Safe Article Title</label>
                        <input value="" class="form-control" formControlName="title" type="text" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                            <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                                    <div *ngIf="f.title.errors.required">Title is required</div>
                            </div>
                        </div>
                    </aside>
                </div>
                
                <div class="row">

                <aside class="col-sm-5">
                    <button type="submit" id="upload" class="blue_btn yellow_btn big_yellow text-uppercase" >Add</button>

                </aside>
                </div>
                </form>
                </div>

            </div>
        </div>
    </div>
</div>

