<app-topbarleftmenu> </app-topbarleftmenu>
<div class="main-page">
<div class="content_area">
		<div class="top3_area">
			<div class="row">
				<aside class="col-lg-4">
					<div class="white_three">
					<a class="text-uppercase" >
					
						<span style="background:rgb(108, 113, 112)"><i class="fa fa-handshake-o" aria-hidden="true"></i></span>
						<h5 style="color:#0cc2aa;">{{myData.active}}</h5>
						<p style="color: #b5bbcb;">Registered Users</p>
						</a>
					</div>
				</aside>
				<aside class="col-lg-4">
					<div class="white_three">
					<a class="text-uppercase" style="color: #b5bbcb;" >
						<span style="background:#fff;"><i class="fa fa-user-o" aria-hidden="true"></i></span>
						<h5 style="color:#2e4485;">{{myData.subscribed}}</h5>
						<p class="text-uppercase" style="color: #b5bbcb;">Subscribed Users</p>
						</a>
					</div>
				</aside>
				<aside class="col-lg-4">
					<div class="white_three">
					<a class="text-uppercase" style="color: #b5bbcb;" >
						<span style="background:rgb(146, 216, 202)"><i class="fa fa-user-o" aria-hidden="true"></i></span>
						<h5 style="color:#f1a732;">{{myData.free}}</h5>
						<p class="text-uppercase" style="color: #b5bbcb;" > free users</p>
					</a>
					</div>
				</aside>
        	</div>
    	</div>

    	
		<div class="tables_area">
			<h2 class="pull-left" style="color:grey;font-size:25px;" >Users</h2>
			<div class="clear"></div>
			<form name="accountForm">
			<div class="row">
				<aside class="col-sm-3">
					<div class="input-group md-form form-sm form-2 pl-0 search_form">
						<input class="form-control my-0 py-1 " type="text" [(ngModel)]="searchText" #ctrl="ngModel"  class="form-control"  [ngModelOptions]="{standalone: true}" placeholder="Name or email or location" aria-label="Search">
						<div class="input-group-append">
								<div class="input-group-text"><i class="fa fa-search"></i></div>
						</div>
					</div>
				</aside>

				<aside class="col-sm-3" >
						<div class="form-group">
								<ejs-datepicker  id="fisrtdatepicker1" #ejDatePicker [(value)]='value' width="230px" placeholder="From Join date"  ></ejs-datepicker>
								<p class="errorMsg" id="fromDateError" style="font-size:14px;"></p>

						</div>
						
				</aside>
				<aside class="col-sm-3" >
						<div class="form-group">
								<ejs-datepicker  id="fisrtdatepicker2" #ejDatePicker [(value)]='value1' width="230px" placeholder="To Join date"  ></ejs-datepicker>
								<p class="errorMsg" id="toDateError" style="font-size:14px;"></p>
						</div>
						
				</aside>
				
				<aside class="col-sm-3">
					<div class="form-group">
						<button type="submit" class="blue_btn yellow_btn text-uppercase" (click)="setValue()" >Search</button>
						<button class="blue_btn yellow_btn pull-right text-uppercase " style="margin-right: 15px !important;" (click)="setValue1()" >Export CSV</button>
					</div>
				</aside>
			</div>
			</form>
		<div class="white_box">
			<div class="table-responsive filter">
				<table width="100%" cellspacing="0" cellpadding="0">
					<thead>
						<tr>
							<th style="min-width: 130px;" [class.active]="order === 'id'" (click)="setOrder('id')" >Id <span [hidden]="reverse"><i class="fa fa-caret-down" style="font-size:18px"></i></span
								><span style="height:50px;" [hidden]="!reverse"><i class="fa fa-caret-up" style="font-size:18px"></i></span></th>							
							<th style="min-width: 130px;" [class.active]="order === 'fullName'" (click)="setOrder('fullName')" >Full Name <span [hidden]="reverse"><i class="fa fa-caret-down" style="font-size:18px"></i></span
								><span style="height:50px;" [hidden]="!reverse"><i class="fa fa-caret-up" style="font-size:18px"></i></span></th>
							<th  [class.active]="order === 'email'" (click)="setOrder('email')" >Email Address <span [hidden]="reverse"><i class="fa fa-caret-down" style="font-size:18px"></i></span
								><span style="height:50px;" [hidden]="!reverse"><i class="fa fa-caret-up" style="font-size:18px"></i></span></th>
							
							<th  [class.active]="order === 'address'" (click)="setOrder('address')" >Location <span [hidden]="reverse"><i class="fa fa-caret-down" style="font-size:18px"></i></span
									><span style="height:50px;" [hidden]="!reverse"><i class="fa fa-caret-up" style="font-size:18px"></i></span></th>
							
							
							<th  style="min-width: 130px;" [class.active]="order === 'date_joined'" (click)="setOrder('date_joined')" >Date joined <span [hidden]="reverse"><i class="fa fa-caret-down" style="font-size:18px"></i></span
										><span style="height:50px;" [hidden]="!reverse"><i class="fa fa-caret-up" style="font-size:18px"></i></span></th>							
							
							<th  style="min-width: 120px;" [class.active]="order === 'last_active'" (click)="setOrder('last_active')" >Last Active Date <span [hidden]="reverse"><i class="fa fa-caret-down" style="font-size:18px"></i></span
							><span style="height:50px;" [hidden]="!reverse"><i class="fa fa-caret-up" style="font-size:18px"></i></span></th>							
							<th style="min-width: 100px;" [class.active]="order === 'isSubscribed'" (click)="setOrder('isSubscribed')" >Subscription Status<p style="font-size:9px;">(Current Month)</p><span [hidden]="reverse"><i class="fa fa-caret-down" style="font-size:18px"></i></span
								><span style="height:50px;" [hidden]="!reverse"><i class="fa fa-caret-up" style="font-size:18px"></i></span></th>							
							<th style="min-width:200px;">Options</th>
						</tr>
					</thead>
					<tbody>
							<tr *ngFor="let user of users |orderBy: order:reverse:'case-insensitive'| paginate: { itemsPerPage:itemsPerPage, currentPage: currentPage,totalItems:totalItems }; let i=index;">	
							<td> {{user.id}}</td>
							<td>{{user.fullName}}</td>
							<td>{{user.email}}</td>
							<td>{{user.address}}</td>
							<td>{{user.date_joined| date: 'yyyy-MM-dd hh:MM a'}}</td>
							<td>{{user.last_active| date: 'yyyy-MM-dd hh:MM a'}}</td>
							<td><p *ngIf="user.isSubscribed == 1">Subscribed</p><p *ngIf="user.isSubscribed == 0">Free</p></td>
							<td> 
								<a  (click)="openMyModal(user)" class="action_btn" ><span  class="">
									<i title="view user" class="fa fa-eye" aria-hidden="true"></i>&nbsp;View detail
										</span> </a>
								<a  (click)="editUser(user)" class="action_btn" ><span  class="">
												<i title="edit user" class="fa fa-edit" aria-hidden="true"></i>&nbsp;Edit User detail
													</span> </a>
								<a  (click)="showSubscription(user.subscriptionDetail,user.fullName)" *ngIf="user.showSubscriptions == 1" class="action_btn" ><span  class="">
									<i title="view subscription detail" class="fa fa-eye" aria-hidden="true"></i>&nbsp;Subscription history
										</span> </a>
								<br>
								<label class="switch">
									<input type="checkbox" id="isButtonSelected" (click)="checkBoxClick(user)" [checked]="user.isSubscribed">
									<span class="slider round"></span>
								  </label>	Subscription on/off					
					</tbody>
				</table>
				<div class="data-pagination" *ngIf="totalItems > 0">
					<!-- server side pagination -->
						<!-- <pagination-controls class="paginate" (pageChange)="getNext($event)"></pagination-controls> -->
						<!-- client side pagination -->
						<pagination-controls class="paginate" (pageChange)="currentPage=$event"></pagination-controls>


				</div>
				<label *ngIf="totalItems > 0" >Items per page:
						<select [(ngModel)]="itemsPerPage" (change)="changedPageSize()">
						  <option value="10">10</option>
						  <option value="25">25</option>
						  <option value="50">50</option>
						  <option value="100">100</option>
						</select>
					</label>


			</div>
		</div>
	</div>
</div>
</div>

<ngx-smart-modal #myModal identifier="myModal"  class="user_details">
		<div class="row">
			<div class="col-md-5">
				<div class="acount_info">
					<h4>Account Info</h4>
					<ul>
						<li>
							<h6>Name</h6>
							<h3><span>{{userDetail.fullName}}</span></h3>
						</li>
						<li>
							<h6>Email</h6>
							<h3><span>{{userDetail.email}}</span></h3>
						</li>
						<li>
							<h6>Address</h6>
							<h3><span>{{userDetail.address}}</span></h3>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-7">
					<div class="user_info">
							<h4>Child Info</h4>
							<ul *ngFor="let child of childDetail">
								<li>
									<h3>{{child.username}},<span>{{child.age}} Years Old</span>,<span>{{child.gender}}</span></h3>
									<h5><b>Interest</b>:{{child.interests}}</h5>
								</li>
								
							</ul>
					</div>
				</div>
		</div>
	  
	  </ngx-smart-modal>


	<ngx-smart-modal #myModal1 identifier="subscriptionModal" class="subscription_details" >
		<div class="white_box">
			<div class="table-responsive">
				<table width="100%" cellspacing="0" cellpadding="0">
					<thead>
						<tr>
							<th>Transaction Id</th>
							<th>User name</th>
							<th>Subscription fee</th>
							<th>Subscription start date  </th>
							<th>Subscription End Date</th>
							<th> Subscription time</th>
							<th>Subscription By</th>
							<th>status</th>
						</tr>
					</thead>
					<tbody>
							<tr *ngFor="let detail of subscriptionDetails ">
							<td>{{detail.transaction_id}}</td>
							<td>{{userName}}</td>
							<td><p *ngIf="detail.subscription_fee == 0" style="color:rebeccapurple">Gifted**</p><p *ngIf="detail.subscription_fee != 0">${{detail.subscription_fee}}</p></td>
							<td>{{detail.start|date :'short'}}</td>
							<td>{{detail.end|date :'short'}}</td>
							<td>{{detail.subTime|date :'short'}}</td>
							<td>{{detail.subscriptionBy}}</td>

							<td><p style="color:green" *ngIf="detail.status == 1">Subscribed</p><p style="color:red;" *ngIf="detail.status == 0">Cancelled</p></td>
						</tr>
						
					</tbody>
				</table>
				</div>
				</div>
	  
	  </ngx-smart-modal>