.dropdown-submenu {
	position: relative;
}
.notification_popup {
    color: #fff;
    padding: 0 10px;
     min-width: 310px;
}
.notification_popup p{font-size: 12px; color: #eee;}

.dropdown-submenu .dropdown-menu {
	top: 50px;
	left: 0;
	margin-top: -1px;
}
.dropdown-menu.dropdown_box {
    height: 350px;
    overflow-y: scroll;
}
.dropdown-menu li a {
	color: 000;
	font-size: 16px;
}

ul.dropdown-menu {
	width: 100%;
}

ul.dropdown-menu li a {
	color: #000;
	font-size: 16px;
}

.left_sidebar ul .dropdown:hover ul li a {
	color: #000;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	color: #fff !important;
}

#idAdminProfile {
    width: 40px;
    height: 40px;
    border-radius:50%;
    border: 2px solid #fff;
    
}
