<!-- start header here -->
<header class="header">
	<div class="dashboard_logoarea text-center">
		<a href="#" class="menu_bar"><i class="fa fa-bars"
			aria-hidden="true"></i></a> <a href="#"><img
			src="assets/images/logo.png" alt="" /></a>
	</div>
	<div class="right_loggedarea">
		<ul>
			
			<!-- <li class="dropdown drop_down"><a href="#" class="dropdown-toggle"
				role="button" id="dropdownMenuButton1" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false">My
					Notifications <i class="fa fa-sort-desc" aria-hidden="true"></i><span
					class="notification_count" id="idNotificationCount" style="display:None;">2</span> </a>
				<div class="dropdown-menu dropdown_box" aria-labelledby="dropdownMenuButton1" id="idDivNotification">
					
				</div>
			</li> -->
			
			
			
			<li class="dropdown"><a href="#" class="dropdown-toggle"
				role="button" id="dropdownMenuButton" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false"><img id="idAdminProfile"
					src="assets/images/user_image.png" alt="" />My
					Account </a>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" routerLink="/myprofile"><i
						class="fa fa-user" aria-hidden="true"></i>My Profile</a>
					 <a class="dropdown-item"  routerLink="/editprofile"><i
						class="fa fa-edit"  aria-hidden="true" ></i>Edit Profile</a>
					 
					<a class="dropdown-item" routerLink="/changepassword"><i
						class="fa fa-lock"  aria-hidden="true"></i>Change Password</a>
					 <a id="idLogoutAnchor"  class="dropdown-item"
						href=""><i class="fa fa-power-off"  aria-hidden="true" ></i>Logout</a>
				</div>
			</li>
		</ul>
	</div>
</header>
<!-- end header here -->

<!-- start left sidebar here -->
<div class="left_sidebar">
	<ul>

		<li id="idDashboardLi"><a id="idDashboardTemplate" routerLink="/dashboard" > 
			<i class="fa fa-dashboard" aria-hidden="true"></i><span>Dashboard</span></a>
		</li>
		<li id="idContactUsLi"><a id="idcontactUsTemplate" routerLink="/contactus" >
			<i class="fa fa-handshake-o" aria-hidden="true"></i><span>Contact Us Listing</span></a>
		</li>
    	<li id="idCategoriesLi"><a id="idCategoryTemplate" routerLink="/categories">
			<i class="fa fa-list-alt" aria-hidden="true"></i><span>Category Listing</span></a>
		</li>
		<li id="idParentalFiltersLi"><a id="idParentalFiltersTemplate" routerLink="/parentalfilters">
			<i class="fa fa-filter" aria-hidden="true"></i><span>Parental Filters</span></a>
		</li>
		<li id="idSafeArticlesLi"><a id="idSafeArticlesTemplate" routerLink="/safeArticles">
			<i class="fa fa-shield" aria-hidden="true"></i><span>Safe Articles</span></a>
		</li>
		<li id="idBanArticlesLi"><a id="idBanArticlesTemplate" routerLink="/banArticles">
			<i class="fa fa-ban" aria-hidden="true"></i><span>Ban Articles</span></a>
		</li>
		
		<li id="idRecommendationEngineLi"><a id="idRecommendationEngineTemplate" routerLink="/recommendationEngine">
			<i class="fa fa-check" aria-hidden="true"></i><span>Recommendation Engine</span></a>
		</li>
		<li id="idUploadCssLi"><a id="idUploadCssTemplate" routerLink="/uploadCss">
			<i class="fa fa-upload" aria-hidden="true"></i><span>Upload Css</span></a>
		</li>
		
	</ul>
		
</div>
<!-- end left sidebar here -->

