<app-topbarleftmenu> </app-topbarleftmenu>

<div class="main-page">
    <!-- start content area here -->
    <div class="content_area">
            <h2 class="page_heading" style="margin-bottom:20px;">View Parental Filter</h2>

		<div class="tables_area">
			<div class="clear"></div>
			<form name="accountForm">
			<div class="row">
				<aside class="col-sm-12" class="my_style1">
                    <label>Filter Topic</label>
                    <h4>{{viewObj.filtertopic}}</h4>
                </aside>
            </div>
            <div class="row">
                <aside class="col-sm-12" class="my_style1">
                    <label>Check Title</label>
                    <h4>{{viewObj.checktitle}}</h4>
                </aside>
            </div>
            <div class="row">
                <aside class="col-sm-12" class="my_style1">
                    <label>Check Body</label>
                    <h4>{{viewObj.checkbody}}</h4>
                </aside>
            </div>
            <div class="row">
                <aside class="col-sm-12" class="my_style1">
                    <label>Replace Word</label>
                    <h4>{{viewObj.replaceword}}</h4>
                </aside>
			
			</div>
			</form>
		
	</div>





    </div>
</div>
