.table-responsive table thead tr th {
    color: #696c75;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 2px solid #91949c;
    text-transform: uppercase;
    padding: 8px;
}

.row {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin-right: -247px;
    margin-left: -15px;
}
