<app-topbarleftmenu> </app-topbarleftmenu>

<div class="main-page">
    <!-- start content area here -->
    <div class="content_area">
            <h2 class="page_heading" style="margin-bottom:20px;">Categories</h2>

		<div class="tables_area">
			<div class="clear"></div>
			<form name="accountForm"> 
			<div class="row">
				<aside class="col-sm-3">
					<div class="input-group md-form form-sm form-2 pl-0 search_form">
						<input class="form-control my-0 py-1 " type="text" [(ngModel)]="topic" #ctrl="ngModel"  class="form-control" (input)="setValue()"  [ngModelOptions]="{standalone: true}" placeholder="Topic" aria-label="Search">
						<div class="input-group-append">
							<div class="input-group-text"><i class="fa fa-search"></i></div>
						  </div>
					</div>
				</aside>
				<aside class="col-sm-3">
					
					<div class="input-group md-form form-sm form-2 pl-0 ">
						<input class="form-control my-0 py-1 " type="text" [(ngModel)]="mainCategory" #ctrl="ngModel"  class="form-control" (input)="setValue()"  [ngModelOptions]="{standalone: true}" placeholder="Main category" aria-label="Search">
						<div class="input-group-append">
							<div class="input-group-text"><i class="fa fa-search"></i></div>
						  </div>
					</div>
					</aside>
					<aside class="col-sm-3">
					<div class="input-group md-form form-sm form-2 pl-0 ">
						<input class="form-control my-0 py-1 " type="text" [(ngModel)]="interest" #ctrl="ngModel"  class="form-control"   (input)="setValue()" [ngModelOptions]="{standalone: true}" placeholder="Interest" aria-label="Search">
						<div class="input-group-append">
							<div class="input-group-text"><i class="fa fa-search"></i></div>
						  </div>
					</div>
					</aside>
					
				
			</div>
			<div class="row">
				<aside class="col-sm-3">
					<div class="input-group md-form form-sm form-2 pl-0 ">
						<input class="form-control my-0 py-1 " type="text" [(ngModel)]="subCategory1" #ctrl="ngModel"  class="form-control"  (input)="setValue()"  [ngModelOptions]="{standalone: true}" placeholder="Subcategory 1" aria-label="Search">
						<div class="input-group-append">
							<div class="input-group-text"><i class="fa fa-search"></i></div>
						  </div>
					</div>
					</aside>
					<aside class="col-sm-3">
						<div class="input-group md-form form-sm form-2 pl-0 ">
							<input class="form-control my-0 py-1 " type="text" [(ngModel)]="subCategory2" #ctrl="ngModel"  class="form-control"  (input)="setValue()"  [ngModelOptions]="{standalone: true}" placeholder="Subcategory 2" aria-label="Search">
							<div class="input-group-append">
								<div class="input-group-text"><i class="fa fa-search"></i></div>
							  </div>
						</div>
						</aside>
						<aside class="col-sm-3">
							<div class="input-group md-form form-sm form-2 pl-0 ">
								<input class="form-control my-0 py-1 " type="text" [(ngModel)]="subcategory3" #ctrl="ngModel"  class="form-control"  (input)="setValue()"  [ngModelOptions]="{standalone: true}" placeholder="SubCategory 3" aria-label="Search">
								<div class="input-group-append">
									<div class="input-group-text"><i class="fa fa-search"></i></div>
								  </div>
							</div>
							</aside>
							
						</div>
				<br>
				<div class="row">
				<aside class="col-sm-3">
					<div class="input-group md-form form-sm form-2 pl-0 ">
						<input class="form-control my-0 py-1 " type="text" [(ngModel)]="browseLevel1" #ctrl="ngModel"  class="form-control"  (input)="setValue()"  [ngModelOptions]="{standalone: true}" placeholder="Browse level 1" aria-label="Search">
						<div class="input-group-append">
							<div class="input-group-text"><i class="fa fa-search"></i></div>
						  </div>
					</div>
					</aside>
					<aside class="col-sm-3">
						<div class="input-group md-form form-sm form-2 pl-0 ">
							<input class="form-control my-0 py-1 " type="text" [(ngModel)]="browseLevel2" #ctrl="ngModel"  class="form-control"  (input)="setValue()"  [ngModelOptions]="{standalone: true}" placeholder="browseLevel2" aria-label="Search">
							<div class="input-group-append">
								<div class="input-group-text"><i class="fa fa-search"></i></div>
							  </div>
						</div>
					</aside>
						<!-- <aside class="col-sm-3">
							<div class="form-group">
								<button type="submit" class="blue_btn yellow_btn text-uppercase" (click)="setValue()" >Search</button>
							</div>
						</aside> -->

					
			</div>

			</form>
<br>
		
		<div class="white_box">
			<div class="table-responsive filter">
				<table width="100%" cellspacing="0" cellpadding="0">
					<thead>
						<tr>
							<th style="min-width:55px;" [class.active]="order === 'id'" (click)="setOrder('id')" >Id <span [hidden]="reverse"><i class="fa fa-caret-down" style="font-size:18px"></i></span
									><span style="height:50px;" [hidden]="!reverse"><i class="fa fa-caret-up" style="font-size:18px"></i></span></th>							
							<th style="min-width:55px;" [class.active]="order === 'jsonFile'" (click)="setOrder('jsonFile')" >Topic<span [hidden]="reverse"><i class="fa fa-caret-down" style="font-size:18px"></i></span
								><span style="height:50px;" [hidden]="!reverse"><i class="fa fa-caret-up" style="font-size:18px"></i></span></th>							
							<th style="min-width:55px;" [class.active]="order === 'mainCategory'" (click)="setOrder('mainCategory')" >Main Category <span [hidden]="reverse"><i class="fa fa-caret-down" style="font-size:18px"></i></span
									><span style="height:50px;" [hidden]="!reverse"><i class="fa fa-caret-up" style="font-size:18px"></i></span></th>							

							<th style="min-width:55px;" [class.active]="order === 'subcategory1'" (click)="setOrder('subcategory1')" >SubCategory 1 <span [hidden]="reverse"><i class="fa fa-caret-down" style="font-size:18px"></i></span
										><span style="height:50px;" [hidden]="!reverse"><i class="fa fa-caret-up" style="font-size:18px"></i></span></th>							
										
							<th style="min-width:55px;" [class.active]="order === 'subcategory2'" (click)="setOrder('subcategory2')" >SubCategory 2 <span [hidden]="reverse"><i class="fa fa-caret-down" style="font-size:18px"></i></span
								><span style="height:50px;" [hidden]="!reverse"><i class="fa fa-caret-up" style="font-size:18px"></i></span></th>							
							<th style="min-width:55px;" [class.active]="order === 'subcategory3'" (click)="setOrder('subcategory3')" >SubCategory 3 <span [hidden]="reverse"><i class="fa fa-caret-down" style="font-size:18px"></i></span
								><span style="height:50px;" [hidden]="!reverse"><i class="fa fa-caret-up" style="font-size:18px"></i></span></th>							
																				
							<th style="min-width:55px;" [class.active]="order === 'interest'" (click)="setOrder('interest')" >Interest <span [hidden]="reverse"><i class="fa fa-caret-down" style="font-size:18px"></i></span
								><span style="height:50px;" [hidden]="!reverse"><i class="fa fa-caret-up" style="font-size:18px"></i></span></th>							
																
							
							<th style="min-width:55px;" [class.active]="order === 'browseLevel1'" (click)="setOrder('browseLevel1')" >browseLevel1<span [hidden]="reverse"><i class="fa fa-caret-down" style="font-size:18px"></i></span
									><span style="height:50px;" [hidden]="!reverse"><i class="fa fa-caret-up" style="font-size:18px"></i></span></th>							
									
							<th style="min-width:55px;" [class.active]="order === 'browseLevel2'" (click)="setOrder('browseLevel2')" >browseLevel2<span [hidden]="reverse"><i class="fa fa-caret-down" style="font-size:18px"></i></span
										><span style="height:50px;" [hidden]="!reverse"><i class="fa fa-caret-up" style="font-size:18px"></i></span></th>							
										
							
							<th> Options</th>
						</tr>
					</thead>
					<tbody>
							<tr *ngFor="let category of categories|orderBy: order:reverse:'case-insensitive'| paginate: { itemsPerPage:itemsPerPage, currentPage: currentPage,totalItems:totalItems }; let i=index;">	
							<td> {{i+1}}</td>
							<td>{{category.jsonFile}}</td>
							<td>{{category.mainCategory}}</td>
                            <td><p class="my_center" *ngIf="category.subcategory1 == ''">-</p><p class="my_center" *ngIf="category.subcategory1 != ''">{{category.subcategory1}}</p></td>
                            <td><p class="my_center" *ngIf="category.subcategory2 == ''">-</p><p class="my_center" *ngIf="category.subcategory2 != ''">{{category.subcategory2}}</p></td>
                            <td><p class="my_center" *ngIf="category.subcategory3 == ''">-</p><p class="my_center" *ngIf="category.subcategory3 != ''">{{category.subcategory3}}</p></td>
                            <td>{{category.interest}}</td>
                            <td>{{category.browseLevel1}}</td>
							<td>{{category.browseLevel2}}</td>
							<td> 
								<a  [routerLink]="['/articles', category.id]" class="action_btn" ><span  class="">
									<i title="View articles" class="fa fa-eye" aria-hidden="true"></i>&nbsp;View Articles
										</span> </a>
								
							</td>
						
						</tr>
						
					</tbody>
				</table>
				<div class="data-pagination" *ngIf="totalItems > 0">
						<!-- <pagination-controls class="paginate" (pageChange)="getNext($event)"></pagination-controls> -->
				<pagination-controls class="paginate" (pageChange)="currentPage=$event"></pagination-controls>


				</div>
				<label *ngIf="totalItems > 0" >Items per page:
					<select [(ngModel)]="itemsPerPage" >
					  <option value="5">5</option>
					  <option value="10">10</option>
					  <option value="20">20</option>
					  <option value="50">50</option>
					</select>
			</label>

			</div>
		</div>
	</div>





    </div>
</div>