<app-topbarleftmenu> </app-topbarleftmenu>

<div class="main-page">
    <!-- start content area here -->
    <div class="content_area">
            <h2 class="page_heading" style="margin-bottom:20px;font-size:28px;">Upload CSV</h2>

		<div class="tables_area">
            <p><a href={{myref}} >Sample file</a></p>
			<div class="clear"></div>
            <form [formGroup]="uploadCSVForm" (ngSubmit)="onSubmit()" class="form-signin">

                <div class="row" style="margin-top:50px;">
                <aside style="margin-left:100px;margin-top:11px;">Select File: </aside>
                <aside class="col-sm-2">
                    <label class="custom-file-upload">
                    <input  type="file" formControlName="fileName" (change)="postMethod($event.target.files)" [ngClass]="{ 'is-invalid': submitted && f.fileName.errors }"  required>
                 <div *ngIf="submitted && f.fileName.errors" class="invalid-feedback ">
                        <div *ngIf="f.fileName.errors.required">File is required</div>
                </div>
                 <p id="fileErrorMsg" style="margin-top:5px;" class="errorMsg"></p>
                 </label>
                 <button type="submit" class="blue_btn yellow_btn text-uppercase" >Upload CSV</button>

                </aside>
            </div>
        </form>
    </div>
    </div>
</div>
                    
