<app-topbarleftmenu> </app-topbarleftmenu>

<div class="main-page">
    <!-- start content area here -->
    <div class="content_area">
            <h2 class="page_heading" style="margin-bottom:20px;">Articles: {{categoryString}} </h2>

		<div class="tables_area">
			<div class="clear"></div>
			<form name="accountForm">
			<div class="row">
				<aside class="col-sm-3">
					<div class="input-group md-form form-sm form-2 pl-0 search_form">
						<input class="form-control my-0 py-1 " type="text" [(ngModel)]="searchText" #ctrl="ngModel"  class="form-control" (input)="setValue()"  [ngModelOptions]="{standalone: true}" placeholder="Title" aria-label="Search">
						<div class="input-group-append">
						  <span class="input-group-text " style="background: #058edf;" id="basic-text1"><i class="fa fa-search text-grey" style="color:#fff"
							  aria-hidden="true" ></i></span>
						</div>
					</div>
				</aside>

				
				<!-- <aside class="col-sm-3">
					<div class="form-group">
						<button type="submit" class="blue_btn yellow_btn text-uppercase" (click)="setValue()" >Search</button>
					</div>
				</aside> -->
			</div>
			</form>
		<div class="white_box">
			<div class="table-responsive">
				<table width="100%" cellspacing="0" cellpadding="0">
					<thead>
						<tr>
							<th>S.No</th>
							<th>Image</th>
							<th>Title</th>
                            <th>Summary</th>
                            <th>Is Banned</th>
                            <th> Options</th>
						</tr>
					</thead>
					<tbody>
							<tr *ngFor="let article of articles | paginate: { itemsPerPage:itemsPerPage, currentPage: currentPage,totalItems:totalItems }; let i=index;">	
							<td> {{article.id}}</td>
                            <td><p class="my_center" *ngIf="article.image == ''">-</p><p class="my_center" *ngIf="article.image != ''"><img src="{{article.image}}"/></p></td>
							<td>{{article.displayTitle}}</td>
							<td><p class="my_center" *ngIf="article.summary == ''">-</p><p class="my_center" *ngIf="article.summary != ''">{{article.summary}}</p></td>
                            <td><p class="my_center errorMsg" *ngIf="article.isBanned == 1">Banned</p><p class="my_center" *ngIf="article.isBanned ==0">No</p></td>
							<td> 
								<a   (click)="navigateToUrl(article.title)" class="action_btn" ><span  class="">
									<i title="View article" class="fa fa-eye"  aria-hidden="true"></i>&nbsp;View Article
										</span> </a>
								
							</td>
						
						</tr>
						
					</tbody>
				</table>
				<div class="data-pagination" *ngIf="totalItems > 0">
						<pagination-controls class="paginate" (pageChange)="getNext($event)"></pagination-controls>


				</div>


			</div>
		</div>
	</div>





    </div>
</div>