.aside_form{

        margin-left: 80px;
        margin-top: 2px;
        padding: 40px;
    
    }
    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        margin-bottom:30px;
    }
    
    .blue_btn.yellow_btn.pull-right.text-uppercase.side-button {

        margin-left: 22px !important;
    
    } 