<app-topbarleftmenu> </app-topbarleftmenu>

<div class="main-page">
    <!-- start content area here -->
    <div class="content_area">
            <h2 class="page_heading" style="margin-bottom:20px;font-size:26px;">Recommendation Engine</h2>
            <div class="tables_area1">
            <form [formGroup]="recommendationForm" (ngSubmit)="onSubmit()" >
            <div class="form-group">
                    <div class="row" style="margin-top:50px;">
                    <div class="col-sm-2">
                     <label >% appearance Regular Article </label>
                    </div>
                    <div class="col-sm-6">

                       <input type="number" value="" placeholder=" " class="form-control numericFloat"  formControlName="regular_article" [ngClass]="{ 'is-invalid': submitted && f.regular_article.errors }" min="1" max="100" required>
                       <div *ngIf="submitted && f.regular_article.errors" class="invalid-feedback">
                        
                            <div *ngIf="f.regular_article.errors.required">This field is required</div>
                    </div>
                    </div>
                 </div>

                 <div class="row" style="margin-top:50px;">
                        <div class="col-sm-2">
                         <label >% appearance History </label>
                        </div>
                        <div class="col-sm-6">
    
                           <input type="number" value="" placeholder="% of history in Regular Article" formControlName="history" class="form-control numericFloat"  [ngClass]="{ 'is-invalid': submitted && f.history.errors }" min="1" max="100" required>
                           <div *ngIf="submitted && f.history.errors" class="invalid-feedback">
                                <div *ngIf="f.history.errors.required">This field is required</div>
                        </div>
                        </div>
                     </div>
                     <div class="row" style="margin-top:50px;">
                            <div class="col-sm-2">
                             <label >% appearance Interest </label>
                            </div>
                            <div class="col-sm-6">
        
                               <input type="number" value="" placeholder="% of interest in Regular Article" class="form-control numericFloat" formControlName="interest" [ngClass]="{ 'is-invalid': submitted && f.interest.errors }" min="1" max="100" required>
                               <div *ngIf="submitted && f.interest.errors" class="invalid-feedback">
                                    <div *ngIf="f.interest.errors.required">This field is required</div>
                            </div>
                          
                            </div>
                         </div>
                         <div class="row" style="margin-top:50px;">
                                <div class="col-sm-2">
                                 <label >% appearance VA5 Article </label>
                                </div>
                                <div class="col-sm-6">
            
                                   <input type="number" value="" placeholder="% of VA5 in Regular Article" class="form-control numericFloat" formControlName="va5" [ngClass]="{ 'is-invalid': submitted && f.va5.errors }" min="1" max="100" required>
                                   <div *ngIf="submitted && f.va5.errors" class="invalid-feedback">
                                        <div *ngIf="f.va5.errors.required">This field is required</div>
                                </div>
                                </div>
                             </div>
                 <div class="row" style="margin-top:50px;">
                        <div class="col-sm-2">
                         <label >% appearance On this day </label>
                        </div>
                        <div class="col-sm-6">
    
                           <input type="number" value="" placeholder="" class="form-control numericFloat" formControlName="onThisDay" [ngClass]="{ 'is-invalid': submitted && f.onThisDay.errors }" min="1" max="100" required>
                           <div *ngIf="submitted && f.onThisDay.errors" class="invalid-feedback">
                                <div *ngIf="f.onThisDay.errors.required">Title is required</div>
                        </div>
                      
                        </div>
                     </div>
                     <div class="row" style="margin-top:50px;">
                            <div class="col-sm-2">
                             <label >% appearance Featured picture</label>
                            </div>
                            <div class="col-sm-6">
        
                               <input type="number" value="" placeholder="" class="form-control numericFloat" formControlName="featuredPicture" [ngClass]="{ 'is-invalid': submitted && f.featuredPicture.errors }" min="1" max="100" required>
                               <div *ngIf="submitted && f.featuredPicture.errors" class="invalid-feedback">
                                    <div *ngIf="f.featuredPicture.errors.required">This Field is required</div>
                            </div>
                          
                            </div>
                         </div>
                         <div class="row" style="margin-top:50px;">
                                <div class="col-sm-2">
                                 <label >% appearance Featured List </label>
                                </div>
                                <div class="col-sm-6">
        
                                    <input type="number" value="" placeholder="" class="form-control numericFloat" formControlName="featuredList" [ngClass]="{ 'is-invalid': submitted && f.featuredList.errors }" min="1" max="100" required>
                                    <div *ngIf="submitted && f.featuredList.errors" class="invalid-feedback">
                                         <div *ngIf="f.featuredList.errors.required">This Field is required</div>
                                 </div>
                               
                                 </div>
                                
                             </div>
                             <div class="row" style="margin-top:30px;margin-left:150px;">

                                    <aside class="col-sm-5">
                                        <button type="submit" id="upload" class="blue_btn yellow_btn big_yellow text-uppercase" >Update</button>
                    
                            </aside>
                            </div>   
                                         
                 </div>
                </form>
               </div>
               
	

    </div>
</div>