<app-topbarleftmenu> </app-topbarleftmenu>

<div class="main-page">
    <!-- start content area here -->
    <div class="content_area">
            <h2 class="page_heading" style="margin-bottom:20px;">Parental Filters</h2>

		<div class="tables_area">
			<div class="clear"></div>
				<button class="blue_btn yellow_btn pull-right text-uppercase"  style="margin-left: 15px !important;" routerLink="/parentalfilters/uploadcsv" >Upload CSV File</button>
				<button class="blue_btn yellow_btn pull-right text-uppercase " routerLink="/parentalfilters/addNew" >Add New</button>
				<button class="blue_btn yellow_btn pull-right text-uppercase " style="margin-right: 15px !important;" (click)="exportCSV()" >Export CSV</button>
					
			<form name="accountForm">
			<div class="row">
				<aside class="col-sm-4">
					
					<div class="input-group md-form form-sm form-2 pl-0 ">
						<input class="form-control my-0 py-1 " type="text" [(ngModel)]="filterTopic" #ctrl="ngModel"  class="form-control" (input)="setValue()"  [ngModelOptions]="{standalone: true}" placeholder="filter topic" aria-label="Search">
						<div class="input-group-append">
							<div class="input-group-text"><i class="fa fa-search"></i></div>
						  </div>
					</div>
					</aside>
					<aside class="col-sm-4">
					<div class="input-group md-form form-sm form-2 pl-0 ">
						<input class="form-control my-0 py-1 " type="text" [(ngModel)]="checkTitle" #ctrl="ngModel"  class="form-control"   (input)="setValue()" [ngModelOptions]="{standalone: true}" placeholder="Check title" aria-label="Search">
						<div class="input-group-append">
							<div class="input-group-text"><i class="fa fa-search"></i></div>
						  </div>
					</div>
					</aside>
					<aside class="col-sm-4">
					<div class="input-group md-form form-sm form-2 pl-0 ">
						<input class="form-control my-0 py-1 " type="text" [(ngModel)]="checkBody" #ctrl="ngModel"  class="form-control"  (input)="setValue()"  [ngModelOptions]="{standalone: true}" placeholder="Check body" aria-label="Search">
						<div class="input-group-append">
							<div class="input-group-text"><i class="fa fa-search"></i></div>
						  </div>
					</div>
					</aside>
			</div>
				<div class="row" style="margin-left:2px;margin-top:18px">
					<aside class="col-sm-3">
						<div class="input-group md-form form-sm form-2 pl-0 ">
							<input class="form-control my-0 py-1 " type="text" [(ngModel)]="replaceWord" #ctrl="ngModel"  class="form-control"  (input)="setValue()"  [ngModelOptions]="{standalone: true}" placeholder="Replace Word" aria-label="Search">
							<div class="input-group-append">
								<div class="input-group-text"><i class="fa fa-search"></i></div>
							  </div>
						</div>
						</aside>
						<!-- <aside class="col-sm-3">
							<div class="form-group">
								<button type="submit" class="blue_btn yellow_btn text-uppercase" (click)="setValue()" >Search</button>
							</div>
							</aside> -->

				</div>
						
		
			</form>
		<div class="white_box">
			<div class="table-responsive filter">
				<table width="100%" cellspacing="0" cellpadding="0">
					<thead>
						<tr>
							<th style="min-width:55px;" [class.active]="order === 'id'" (click)="setOrder('id')" >Id <span [hidden]="reverse"><i class="fa fa-caret-down" style="font-size:18px"></i></span
								><span style="height:50px;" [hidden]="!reverse"><i class="fa fa-caret-up" style="font-size:18px"></i></span></th>														
							<th style="min-width:55px;" [class.active]="order === 'filtertopic'" (click)="setOrder('filtertopic')" >Filter Topic<span [hidden]="reverse"><i class="fa fa-caret-down" style="font-size:18px"></i></span
								><span style="height:50px;" [hidden]="!reverse"><i class="fa fa-caret-up" style="font-size:18px"></i></span></th>							
							<th style="min-width:55px;" [class.active]="order === 'checktitle'" (click)="setOrder('checktitle')" >Check Title<span [hidden]="reverse"><i class="fa fa-caret-down" style="font-size:18px"></i></span
								><span style="height:50px;" [hidden]="!reverse"><i class="fa fa-caret-up" style="font-size:18px"></i></span></th>							
							<th style="min-width:55px;" [class.active]="order === 'checkbody'" (click)="setOrder('checkbody')" >Check body <span [hidden]="reverse"><i class="fa fa-caret-down" style="font-size:18px"></i></span
								><span style="height:50px;" [hidden]="!reverse"><i class="fa fa-caret-up" style="font-size:18px"></i></span></th>							
							<th style="min-width:55px;" [class.active]="order === 'replaceword'" (click)="setOrder('replaceword')" >Replace Word<span [hidden]="reverse"><i class="fa fa-caret-down" style="font-size:18px"></i></span
									><span style="height:50px;" [hidden]="!reverse"><i class="fa fa-caret-up" style="font-size:18px"></i></span></th>							
							<th> Options</th>
						</tr>
					</thead>
					<tbody>
							<tr *ngFor="let word of parentalList |orderBy: order:reverse:'case-insensitive'| paginate: { itemsPerPage:itemsPerPage, currentPage: currentPage,totalItems:totalItems }; let i=index;">	
							<td> {{word.id}}</td>
							<td>{{word.filtertopic}}</td>
							<td>{{word.checktitle}}</td>
                            <td>{{word.checkbody}}</td>
                            <td>{{word.replaceword}}</td>
							<td> 
								<a  (click)="onView(word)" class="action_btn" ><span  class="">
									<i title="View" class="fa fa-eye" aria-hidden="true"></i>&nbsp;View
                                        </span> </a>
                                <a  (click)="onEdit(word)" class="action_btn" ><span  class="">
                                    <i title="Edit" class="fa fa-edit" aria-hidden="true"></i>&nbsp;Edit
                                        </span> </a>
                                <a  (click)="onDelete(word)" class="action_btn" ><span  class="">
                                    <i title="Delete" class="fa fa-trash" aria-hidden="true"></i>&nbsp;Delete
                                        </span> </a>
								
							</td>
						
						</tr>
						
					</tbody>
				</table>
				<div class="data-pagination" *ngIf="totalItems > 0">
					<pagination-controls class="paginate" (pageChange)="currentPage=$event"></pagination-controls>


				</div>
				<label *ngIf="totalItems > 0" >Items per page:
					<select [(ngModel)]="itemsPerPage" >
					  <option value="10">10</option>
					  <option value="25">25</option>
					  <option value="50">50</option>
					  <option value="100">100</option>
					</select>
			</label>


			</div>
		</div>
	</div>





    </div>
</div>