<body class="login_bg">
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-signin">
  <div class="text-center mb-4">
    <img class="mb-4" src="/assets/images/logo.png" alt="" class="logo_img">
  </div>

  <div class="form-label-group">
    <input type="email" id="inputEmail" formControlName="email" class="form-control" placeholder="Email address" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required autofocus>
    <label for="inputEmail">Email address</label>
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Email is required</div>
        <div *ngIf="!(f.email.errors.required)">Please provide a valid email address.</div>

        
    
    
      </div>
  </div>

  <div class="form-label-group">
    <input type="password" id="inputPassword" formControlName="password" class="form-control" placeholder="Password" required>
    <label for="inputPassword">Password</label>
  </div>

  <!-- <div class="checkbox mb-3">
    <label style="color:whitesmoke;">
      Forgot password?
    </label>
  </div> -->
  <button class="btn btn-lg btn-primary btn-block" style="color:white;font-family: Arial, Helvetica, sans-serif" type="submit">Sign in</button>
  <p class="mt-5 mb-3 text-muted text-center"></p>
</form>
</body>