.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

html,
body {
  height: 100%;
}

/*
.login_bg{
  background: -moz-linear-gradient(332deg, #507af7 0%, rgba(21,220,226,1) 100%); /* ff3.6+ */
	/*background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(56,162,238,1)), color-stop(100%, rgba(21,220,226,1))); /* safari4+,chrome */
	/*background: -webkit-linear-gradient(332deg,  #507af7 0%, rgba(21,220,226,1) 100%); /* safari5.1+,chrome10+ */
	/*background: -o-linear-gradient(332deg,  #507af7 0%, rgba(21,220,226,1) 100%); /* opera 11.10+ */
	/*background: -ms-linear-gradient(332deg,  #507af7 0%, rgba(21,220,226,1) 100%); /* ie10+ */
	/*background: linear-gradient(118deg,  #507af7 0%, rgba(21,220,226,1) 100%); /* w3c */
  	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38a2ee', endColorstr='#15dce2',GradientType=1 ); /* ie6-9 */  
/*}*/

.login_bg{

  background-image: linear-gradient(to bottom, #0e80d8, #0095e2, #00a9e6, #00bbe7, #1ecde5);


}



.logo_img{
    width:200px;
    height:100px;
}





.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
  margin-top:80px;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  height: 3.125rem;
  padding: .75rem;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text; /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}

.btn-primary {

  color: #fff;
  background-color: #fff;
  border-color: #fff;
  font-weight: bold;
  color: rgb(56, 162, 238) !important;

}


/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}