<app-topbarleftmenu> </app-topbarleftmenu>

<div class="main-page">
    <!-- start content area here -->
    <div class="content_area">
            <h2 class="page_heading" style="margin-bottom:20px;">Safe Articles</h2>

		<div class="tables_area">
			<div class="clear"></div>
				<button class="blue_btn yellow_btn pull-right text-uppercase"  style="margin-left: 15px !important;" routerLink="/safeArticles/uploadcsv" >Upload CSV</button>
				<button class="blue_btn yellow_btn pull-right text-uppercase " routerLink="/safeArticles/addNew" >Add New</button>
				<button class="blue_btn yellow_btn pull-right text-uppercase " style="margin-right: 15px !important;" (click)="exportCSV()" >Export CSV</button>
					
			<form name="accountForm">
			<div class="row">
				<aside class="col-sm-4">
					<!-- <div class="form-group">
						<input type="text" [(ngModel)]="searchText" #ctrl="ngModel"  class="form-control" (input)="setValue()"  [ngModelOptions]="{standalone: true}" placeholder="Category or subcategory"/>
					</div> -->
					<div class="input-group md-form form-sm form-2 pl-0 ">
						<input class="form-control my-0 py-1 " type="text" [(ngModel)]="searchText" #ctrl="ngModel"  class="form-control" (input)="setValue()"  [ngModelOptions]="{standalone: true}" placeholder="Search" aria-label="Search">
						<div class="input-group-append">
						  <span class="input-group-text " style="background: #058edf;" id="basic-text1"><i class="fa fa-search text-grey" style="color:#fff"
							  aria-hidden="true" ></i></span>
						</div>
					</div>
					  
                </aside>
				
			</div>
			</form>
		<div class="white_box">
			<div class="table-responsive filter">
				<table width="100%" cellspacing="0" cellpadding="0">
					<thead>
						<tr>
						<th style="min-width:55px;" [class.active]="order === 'id'" (click)="setOrder('id')" >Id <span [hidden]="reverse"><i class="fa fa-caret-down" style="font-size:18px"></i></span
								><span style="height:50px;" [hidden]="!reverse"><i class="fa fa-caret-up" style="font-size:18px"></i></span></th>																				
						<th style="min-width:55px;" [class.active]="order === 'title'" (click)="setOrder('title')" >Title<span [hidden]="reverse"><i class="fa fa-caret-down" style="font-size:18px"></i></span
									><span style="height:50px;" [hidden]="!reverse"><i class="fa fa-caret-up" style="font-size:18px"></i></span></th>														
                        <th> Options</th>
						</tr>
					</thead>
					<tbody>
							<tr *ngFor="let article of safeArticlesList |orderBy: order:reverse:'case-insensitive'| paginate: { itemsPerPage:itemsPerPage, currentPage: currentPage,totalItems:totalItems }; let i=index;">	
							<td> {{article.id}}</td>
							<td>{{article.displayTitle}}</td>
                            
							<td> 
								<a  (click)="navigateToUrl(article.title)" class="action_btn" ><span  class="">
									<i title="View" class="fa fa-eye" aria-hidden="true"></i>&nbsp;View
                                        </span> </a>
                                <a  (click)="onEdit(article)" class="action_btn" ><span  class="">
                                    <i title="Edit" class="fa fa-edit" aria-hidden="true"></i>&nbsp;Edit
                                        </span> </a>
                                <a  (click)="onDelete(article)" class="action_btn" ><span  class="">
                                    <i title="Delete" class="fa fa-trash" aria-hidden="true"></i>&nbsp;Delete
                                        </span> </a>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="data-pagination" *ngIf="totalItems > 0">
						<!-- <pagination-controls class="paginate" (pageChange)="getNext($event)"></pagination-controls> -->
						<pagination-controls class="paginate" (pageChange)="currentPage=$event"></pagination-controls>

				</div>
				<label *ngIf="totalItems > 0" >Items per page:
						<select [(ngModel)]="itemsPerPage" >
						  <option value="10">10</option>
						  <option value="25">25</option>
						  <option value="50">50</option>
						  <option value="100">100</option>
						</select>
				</label>

			</div>
		</div>
	</div>

    </div>
</div>