<app-topbarleftmenu> </app-topbarleftmenu>
<div class="main-page">
  <div class="content_area">
      <div class="tables_area">
        <h2 class="pull-left" class="page_heading"> Contact Us Listing</h2>
        <div class="clear"></div>
        <form  name="contactUsForm">
               <br>
               
                <div class="row">
                        <aside class="col-sm-3">
                                <div class="input-group md-form form-sm form-2 pl-0">
                                        <input  class="form-control my-0 py-1 " type="text" [(ngModel)]="searchText" #ctrl="ngModel"  class="form-control"   [ngModelOptions]="{standalone: true}" (input) ="changeText()" placeholder="Email or message/subject" aria-label="Search">
                                        
                                </div>
                                    
                        </aside>
                        <aside class="col-sm-3" >
                                <div class="form-group">
                                        <ejs-datepicker  id="fisrtdatepicker1" #ejDatePicker [(value)]='value' width="230px" placeholder="From date"  ></ejs-datepicker>
                                        <p class="errorMsg" id="fromDateError" style="font-size:14px;"></p>

                                </div>
                                
                        </aside>
                        <aside class="col-sm-3" >
                                <div class="form-group">
                                        <ejs-datepicker  id="fisrtdatepicker2" #ejDatePicker [(value)]='value1' width="230px" placeholder="To date"  ></ejs-datepicker>
                                        <p class="errorMsg" id="toDateError" style="font-size:14px;"></p>
                                </div>
                                
                        </aside>
                        <aside class="col-sm-3">
					<div class="form-group">
						<button type="submit" class="blue_btn yellow_btn text-uppercase" (click)="setValue()" >Search</button>
					</div>
			</aside>
                       

                </div>

               

                        
        </form>
        
        <!-- <p *ngIf="totalItems == 0" style="margin-left:50px;font-size:20px;margin-top:20px;" >No data to display</p> -->

        <div  class="white_box">
                <div class="table-responsive filter" >
                        
                        <table width="100%" cellspacing="0" cellpadding="0">
                                <thead>
                                        <tr>
                                        <th style="min-width:55px;" [class.active]="order === 'id'" (click)="setOrder('id')" >Id <span [hidden]="reverse"><i class="fa fa-caret-down" style="font-size:18px"></i></span
                                                ><span style="height:50px;" [hidden]="!reverse"><i class="fa fa-caret-up" style="font-size:18px"></i></span></th>							
                                        
                                        <th  [class.active]="order === 'email'" (click)="setOrder('email')" >User Email <span [hidden]="reverse"><i class="fa fa-caret-down" style="font-size:18px"></i></span
                                                ><span style="height:50px;" [hidden]="!reverse"><i class="fa fa-caret-up" style="font-size:18px"></i></span></th>
                                        
                                        
                                        <th  style="min-width:98px;" [class.active]="order === 'subject'" (click)="setOrder('subject')" >Subject <span [hidden]="reverse"><i class="fa fa-caret-down" style="font-size:18px"></i></span
                                                ><span style="height:50px;" [hidden]="!reverse"><i class="fa fa-caret-up" style="font-size:18px"></i></span></th>
                                        
                                        <th style="min-width:150px;" [class.active]="order === 'message'" (click)="setOrder('message')" >Message <span [hidden]="reverse"><i class="fa fa-caret-down" style="font-size:18px"></i></span
                                        ><span style="height:50px;" [hidden]="!reverse"><i class="fa fa-caret-up" style="font-size:18px"></i></span></th>
                                        <th style="min-width:150px;" [class.active]="order === 'sentTime'" (click)="setOrder('sentTime')" >Sent time <span [hidden]="reverse"><i class="fa fa-caret-down" style="font-size:18px"></i></span
                                        ><span style="height:50px;" [hidden]="!reverse"><i class="fa fa-caret-up" style="font-size:18px"></i></span></th>                                                
                                                
                                        </tr>
                                </thead>
                                <tbody>
                                                <tr *ngFor="let message of messages |orderBy: order:reverse:'case-insensitive'| paginate: { itemsPerPage:itemsPerPage, currentPage: currentPage,totalItems:totalItems }; let i=index;">
                                                <td>{{message.id}}</td>
                                                <td>{{message.email}}</td>
                                                <td >{{message.subject}}</td>
                                                <td >{{message.message}}</td>
                                                <td>{{message.sentTime| date: 'dd/MM/yyyy hh:MM a'}}</td>
                                                
                                        </tr>
                                        
                                </tbody>
                        </table>
                        <div class="data-pagination" *ngIf="totalItems > 0">
                        <!-- <pagination-controls class="paginate" (pageChange)="getNext($event)"></pagination-controls> -->
                	<pagination-controls class="paginate" (pageChange)="currentPage=$event"></pagination-controls>

                
                </div>
                <label *ngIf="totalItems > 0" >Items per page:
                                <select [(ngModel)]="itemsPerPage" (change)="changedPageSize()">
                                  <option value="10">10</option>
                                  <option value="25">25</option>
                                  <option value="50">50</option>
                                  <option value="100">100</option>
                                </select>
                        </label>
        </div>
        <p id="myId" ng-hide="true"></p>
        
   </div>
   </div>
</div>