<app-topbarleftmenu> </app-topbarleftmenu>

<div class="main-page">
    <!-- start content area here -->
    <div class="content_area">
            <h2 class="page_heading" style="margin-bottom:20px;">Subscription Detail</h2>

		<div class="tables_area">
			<div class="clear"></div>
				
			
		<div class="white_box">
			<div class="table-responsive">
				<table width="100%" cellspacing="0" cellpadding="0">
					<thead>
						<tr>
							<th>S.No</th>
							<th>Filter topic</th>
							<th>Check Title</th>
							<th>Check Body  </th>
							<th>Replace Word</th>
                            <th> Options</th>
						</tr>
					</thead>
					<tbody>
							<tr *ngFor="let word of subscriptionDetails | paginate: { itemsPerPage:itemsPerPage, currentPage: currentPage,totalItems:totalItems }; let i=index;">	
							<td> {{word.id}}</td>
							<td>{{word.start_date}}</td>
							<td>{{word.checktitle}}</td>
                            <td>{{word.checkbody}}</td>
                            <td>{{word.replaceword}}</td>
							<td> 
								<a  (click)="onView(word)" class="action_btn" ><span  class="">
									<i title="View" class="fa fa-eye" aria-hidden="true"></i>&nbsp;View
                                        </span> </a>
                                <a  (click)="onEdit(word)" class="action_btn" ><span  class="">
                                    <i title="Edit" class="fa fa-edit" aria-hidden="true"></i>&nbsp;Edit
                                        </span> </a>
                                <a  (click)="onDelete(word)" class="action_btn" ><span  class="">
                                    <i title="Delete" class="fa fa-trash" aria-hidden="true"></i>&nbsp;Delete
                                        </span> </a>
								
							</td>
						
						</tr>
						
					</tbody>
				</table>
				<div class="data-pagination" *ngIf="totalItems > 0">
						<pagination-controls class="paginate" (pageChange)="getNext($event)"></pagination-controls>


				</div>


			</div>
		</div>
	</div>





    </div>
</div>