<app-topbarleftmenu> </app-topbarleftmenu>
<div class="main-page">

    
        <div class="content_area">
            <h3 class="page_heading">Change password</h3>

            <div class="login_form_outer">
                <div class="login_form" >
                    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()"> 
                      
                          <label for="id_current_password">Current password:</label>
                          <input class="form-control" formControlName="currentPassword"   type="password"  [ngClass]="{ 'is-invalid': submitted && f.currentPassword.errors }" required >
                         <p class="errorMsg" id="currenPassMsg"></p>
                         <div *ngIf="submitted && f.currentPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.currentPassword.errors.required">Current Password is required</div>
                    
                          </div>
                         <label for="id_new_password">New password:</label>
                          <input class="form-control" type="password"  formControlName="newPassword" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" required >
                          <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.newPassword.errors.required">New Password is required</div>
                            <div *ngIf="f.newPassword.errors.pattern">Password must contain 8 characters, 1 upper case letter, and 1 special character</div>

                          </div>
                          <p class="errorMsg" id="newPassMsg"></p>
                         <label for="id_new_password1">Confirm New password:</label>
                          <input class="form-control" type="password"  formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" required >
                         <p class="errorMsg" id="confirmPassMsg"></p>
                         <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.confirmPassword.errors.required" id="" >Confirm Password is required</div>
                    
                          </div>
                          <p id="idError" class="errorMsg"></p>
                         
                      <button type="submit" class="blue_btn" >Change password</button>
                    </form>
                </div>
            </div>
        </div>
</div>