<app-topbarleftmenu> </app-topbarleftmenu>

<div class="main-page">
    <!-- start content area here -->
    <div class="content_area">
        	<h2 class="page_heading" >My Profile</h2>
			<div class="white_box my_profile">
				<div class="row">
					<aside class="col-lg-4 text-center">
						<img src="assets/images/profile_image2.jpg" alt="" class="img-circle profile_image" id="viewProfileImage"/>
					</aside>
					<aside class="col-lg-8">
						<div class="row">
							<aside class="col-sm-6">
								<label>First Name</label>
								<h4>{{myProfileData.firstName}}</h4>
							</aside>
							<aside class="col-sm-6">
								<label>Last Name</label>
								<h4>{{myProfileData.lastName}}</h4>
							</aside>
						</div>
						<div class="row">
							<aside class="col-sm-6">
								<label>Email address</label>
								<h4>{{myProfileData.email}}</h4>
							</aside>
							<aside class="col-sm-6">
								<label>Address</label>
								<p>{{myProfileData.address}}</p>
							</aside>
						</div>
						
					</aside>
				</div>
			</div>
    </div>
</div>