/* You can add global styles to this file, and also import other style files */
@import "~ngx-smart-modal/ngx-smart-modal";


@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: 'Open Sans', sans-serif !important;  }

*{margin:0;padding:0;}
aside,section,article,p,div,span,figure,figcaption,img,input,form,html, footer, header,nav, p, ul, li{margin:0;padding:0;}
ul{list-style:none;}
.clear{clear:both;height:0;}
:focus, .btn:focus, .btn:active:focus{outline:none;}
ul:after{clear:both;display:block;content:"";}
img{max-width:100%;border:none;vertical-align:bottom;user-select:none;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;	-o-user-select:none;}
button, input[type="submit"]{-webkit-appearance:none;}
body{background:#f7f7f7;color: #242424;font-size:16px !important;line-height:21px !important;font-family:'Open Sans', sans-serif !important; font-weight:400 !important; overflow-x:hidden;}
html {
    height: 100%;
}

.icon_image_amenity
{
	margin:0px;
}

h1, h2, h3, h4, h5
{
	font-weight:400;
}
.logo_header
{
	/*border-bottom:1px solid #d6d6da; */
	padding: 20px 0;
}	

.shadow
{
	vertical-align: top;
}




/* .loader {
 position: fixed;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 text-align: center;
 background: rgba(255,255,255,0.7);
-webkit-transform: translateZ(0);
}
.loader_inner {
 display: table;
 width: 100%;
 height: 100%;
}
.loader_inner1 {
 display: table-cell;
 vertical-align: middle;
} */

.loading-spiner-holder {  
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:9999;
    background-color:rgba(255,255,255,0.9);
    
 }

.loading-spiner {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left:-50px;
    margin-top:-50px;
}
.loading-spiner img {
  height:100px;
}



.loader_g {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("src/assets/images/loader1.gif") 50% 50% no-repeat rgb(249,249,249);
	
}



/*** dashboard page css here ***/
.header {
	
	/* background:url("src/assets/images/top_banner.png") no-repeat scroll center center; */
	background-image: linear-gradient(to right, #0e80d8, #0095e2, #00a9e6, #00bbe7, #1ecde5);
	box-shadow: 0 0 6px rgba(0,0,0,0.1);
	height: 78px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	z-index: 10;
	min-width: 700px;
}

.dashboard_logoarea
{
	float: left;
	width:250px;
	height: 78px;
	padding: 13px 0px;
}
.dashboard_logoarea img
{
	height: 50px;
}
.right_loggedarea
{
	float: right;
	margin-right: 15px;
	margin-top: 18px;
}
.right_loggedarea ul li
{
	display: inline-block;
	margin-left: 25px;
	font-size: 14px;
	vertical-align: middle;
}
.right_loggedarea ul li a {
    color: #edeff6;
}

right_loggedarea ul li a i, .right_loggedarea ul li a:hover {
	color: #fff;
}
.notification_count
{
	display: inline-block;
	min-width: 22px;
	min-height: 22px;
	background: #f1a732;
	text-align: center;
	color: #fff;
	font-size: 12px;
	border-radius: 100%;
	margin-left: 5px;
}
.right_loggedarea ul li img
{
	vertical-align: middle;
	margin-right: 10px;
}
.right_loggedarea ul li a i
{
	vertical-align: text-top;
}
.main-page
{
	padding-top: 78px;
	padding-left: 255px;
	height: 100%;
	min-width:700px;
}
.left_sidebar
{
	/* background:url("../images/top_banner.png") no-repeat scroll center center; */
	
	background-image: linear-gradient(to bottom, #0e80d8, #0095e2, #00a9e6, #00bbe7, #1ecde5);
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 250px;
	padding-top: 78px;
	z-index: 1;
	overflow: auto;
	-webkit-transform: translateZ(0);
	transform:translateZ(0);
	transition:0.3s all ease-in;
	-moz-transition:0.3s all ease-in;
	-webkit-transition:0.3s all ease-in;
	-ms-transition:0.3s all ease-in;
	-o-transition:0.3s all ease-in;
}
.left_sidebar ul li {
	border-bottom: 1px solid #eee;
}

.left_sidebar ul li:last-child
{
	border-bottom: none;
}
.left_sidebar ul li a {
	color: #fff !important;
	display: block;
	padding: 12px;
}
.left_sidebar ul li a i
{
	min-width: 30px;
}
.left_sidebar ul .active {
 background: #fff;
}
.left_sidebar ul li.active a, .left_sidebar ul li:hover a{
	color: #2fb1eb !important;
	background: #FBF6F6;
	border:1px solid #808080;

}

.page_heading {
    font-size: 30px;
    color: #555;
}

.blue_btn
{
	background: #15a5fb;
	border-radius: 5px;
	color: #fff;
	font-size: 18px;
	border: none;
	padding: 7px 30px;
	display: inline-block;
	line-height: 26px;
}


.blue_btn:hover 
{
 background: #888;
}

.left_sidebar ul li.active a span, .left_sidebar ul li:hover a span
{
	text-decoration: underline;
}
.content_area
{
	padding: 15px 15px 35px 15px;
	min-height: 100%;
	position: relative;
}
.top3_area
{
	padding: 10px 0 45px;
}
.white_three
{
	background: #fff;
	margin: 20px 0 0 29px;
	text-align: center;
	padding: 22px;
	position: relative;
	border-radius: 2px;
	box-shadow: 0px 8px 28px rgba(4, 4, 4, 0.21);
}
.white_three p
{
	color: #b5bbcb;
}
.white_three span
{
	position: absolute;
	left: -29px;
	width: 58px;
	height: 58px;
	font-size: 30px;
	color: #fff;
	line-height: 55px;
	border-radius: 2px;
	top: 15px;
	background: rgb(47, 177, 235) !important;
}
.white_three h3
{
	margin-top: 0;
}
.white_box
{
	background: #fff;
	padding: 15px;
	border-radius: 2px;
}
.total_sold h4
{
	font-weight:700;
	color:#333333;
	margin-bottom: 35px;
}
.footer
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 10px 15px;
}


.right_loggedarea .dropdown-menu {
	background: gray;
	right: 0;
	left: inherit;
	top: 58px;
}
.right_loggedarea .dropdown-menu a {
	display: block;
	color: #fff !important;	
	font-size: 16px;
	padding: 10px;
	border-bottom: 1px solid #fff;
}

.right_loggedarea .dropdown-menu a:last-child
{
	border-bottom: none;
}
.right_loggedarea .dropdown-menu a i {
	color: #fff;
	vertical-align: middle;
	min-width: 25px;
}
.right_loggedarea .dropdown-menu a:hover, .right_loggedarea .dropdown-menu a:hover i
{
	color:#38a2ee !important ;
}
.left_sidebar ul 
{
	border-top: 1px solid #9b9393;
}
.right_loggedarea .dropdown-menu::after
{
	position: absolute;
	content: "";
	border-top: 10px solid transparent;
	border-bottom: 10px solid #38a2ee;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	top: -20px;
	right: 5px;
}

.yellow_btn {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background-color: #048fdf;
    font-weight: bold;
    border-color: #fff;
    padding: 6px 20px;
}
.yellow_btn:hover 
{
	background: grey;
}
.tables_area .white_box
{
	padding: 0;
	box-shadow: 0 0 6px rgba(0,0,0,0.2);
	margin-top: 15px;
}
.table-responsive table thead tr th {
	color: #696c75;
	font-size: 14px;
	font-weight: 500;
	border-bottom: 2px solid #91949c;
	text-transform: uppercase;
	padding: 10px;
	
}
.table-responsive table tbody tr td {
    color: #242424;
    font-size: 13px;
    padding: 12px 10px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    line-height: 22px;
}

.table-responsive table tbody tr td:last-child
{
	border-right: none;
}
.table-responsive table tbody tr:nth-child(2n) td
{
	/*background:#eeeef3; */
	background:#f0efef;
}
.action_btn
{
	color:#242424;
	font-size:14px;
	display: inline-block;
	margin: 0 5px;
}
.action_btn:hover
{
	color:#36a5ed !important;
}
/*** dashboard page css here ***/

/*** add new fleet page css here ***/
.add_formarea
{
	padding: 15px;
}
.big_yellow
{
	font-size: 18px;
	padding: 10px 35px;
	margin-bottom: 20px;
}
.add_formarea label
{
	font-size: 14px;
	color: #242424;
	font-weight: 400;
	letter-spacing: 1px;
}
.add_formarea .form-control
{
	font-size: 16px;
	color: #242424;
	height: auto;
	box-shadow: none;
	padding: 8px 12px;
}
.add_map a
{
	font-size: 14px;
	text-decoration: underline;
}
.icon_input
{
	position: relative;
}
.icon_input i {
	font-size: 20px;
	position: absolute;
	right: 10px;
	top: 10px;
}
.form-group h3 {
	margin-top: 5px;
}
.custom_select select
{
	width: 100%;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 8px;
	line-height: 40px;
}
.custom_select
{
	position: relative;
}
.custom_select::after {
	position: absolute;
	top: 1px;
	width: 40px;
	background: #fff;
	bottom: 1px;
	text-align: center;
	content: "\f0dd";
	font-family: fontawesome;
	right: 1px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	font-size: 20px;
	line-height: 30px;
	pointer-events:none;
}
.tags li
{
	display: inline-block;
	margin-top: 12px;
}
.tags li span
{
	display: inline-block;
	border-radius: 5px;
	background: #2e4485;
	font-size: 14px;
	position: relative;
	padding-right: 20px;
	color: #fff;font-size: 18px;
	padding: 3px 25px 3px 8px;
}
.tags li span a
{
	position: absolute;
	right: 7px;
	top: 3px;
	color:#fff;
}
.top_form
{
	padding-bottom: 20px;
}
.top_form .yellow_btn {
	height: 39px;
	margin: 0;
	vertical-align: middle;
	padding: 6px 35px;
}
/*** add new fleet page css here ***/

/*** accepted payment page css here ***/
.payment_whitebox
{
	background: #fff;
	padding: 12px 25px;
	border-radius: 3px;
	border:2px solid #fff;
	box-shadow: 0px 8px 28px rgba(0,0,0,.12);
	margin-bottom: 15px;
}
.payment_options li
{
	float: left;
	width: 210px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 20px;
	margin-right: 20px;
	font-size: 14px;
}
.payment_options li:last-child
{
	margin-right: 0;
}
.payment_options li a
{
	color:#242424;
}
.payment_options li a.active
{
	color:#2e4485;
}
.payment_options li a.active .payment_whitebox
{
	border-color:#2e4485;
}
.payment_options
{
	padding-bottom: 20px;
}
/*** accepted payment page css here ***/

/*** my Profile page css here ***/
.profile_image
{
	border: 2px solid #c2c2c2;
	margin: 20px 0;
	width: 200px;
	height: 200px;
}
.img-circle{
	border-radius:50%;
}
.my_profile label
{
	font-size: 14px;
	color:#b5bbcb;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight:400;
}
.my_profile h4 {
    font-size: 17px;
    margin-top: 0px;
    font-weight: initial;
}
.my_profile .col-sm-8 .row
{
	margin-top: 15px;
}

.upload_image
{
	position: relative;
	display: inline-block;
	overflow: hidden;
}
.upload_image input
{
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	left:0;
	opacity: 0;
}
.my_profile .form-control
{
	height: auto;
	padding: 10px;
	color: #000;
	box-shadow: none;
	margin-bottom: 20px;
}
.my_profile .yellow_btn
{
	font-size: 18px;
	padding: 10px 35px;
	margin: 35px 0;
}
.top_form .form-control, .search_input .form-group .form-control
{
	height: auto;
	padding: 8px 10px;
	box-shadow: none;
}
/*** my Profile page css here ***/

/*** payment transaction page css here ***/
.top_form h4
{
	margin-top: 30px;
}
.search_form li
{
	float: left;
	width: 20%;
	margin-right: 1.2%;
	min-height: 60px;
}
.search_form li:last-child
{
	margin-right: 0;
}
/*** payment transaction page css here ***/

/*** subscription page css here ***/
.subscription_box
{
	background: #fff;
	padding: 12px;
}
.subscription_box h1
{
	font-weight: 700;
	color: #2e4485;
	font-size: 62px;
}
.subscription_time
{
	position: relative;
	color: #f1a732;
	text-transform: uppercase;
}
.subscription_time:after
{
	position: absolute;
	left:0;
	top:20px;
	content: "";
	width:100%;
	height:1px;
	background: #f1a732;
}
.subscription_time span
{
	display: inline-block;
	background: #fff;
	padding: 10px;
	position: relative;
	z-index: 1;
}
.subscription_box p
{
	color: #b5bbcb;
	font-size: 18px;
	margin-top: 25px;
}
.subscription_box h3
{
	margin-top: 10px;
}
/*** subscription page css here ***/

/*** booking page css here ***/
.search_input .form-group
{
	margin: 15px 0 0 0;
}
.search_input
{
	min-width: 260px;
}
.ticket_detailbox p, .ticket_detailbox h5
{
	color: #b5bbcb;
	font-size: 16px;
}
.ticket_detailbox p span
{
	color: #000;
}
.ticket_detailbox .yellow_btn
{
	font-size: 18px;
}
.ticket_detailbox h5 span
{
	margin-left: 15px;
}
.ticket_detailbox h5
{
	margin-top: 30px;
}
.onward_returntable table thead tr th
{
	border-color: #b5bbcb;
}
.onward_returntable table tbody tr td
{
	vertical-align: top;
	border-right:none;
}
.onward_returntable table tbody tr:last-child td
{
	border-bottom:none;
}
.onward_returntable table tbody tr td h4
{
	font-weight: 700;
	margin:0;
	color:#242424;
}
.ticket_detailbox td
{
	background:#fff !important;
}
.ticket_detailbox > td
{
	padding: 0px 25px 25px !important;
}
.hide_detail
{
	display: inline-block;
	margin: 0 10px;
}
.dashboard_logoarea a
{
	display: inline-block;
	vertical-align: middle;
}
.dashboard_logoarea a.menu_bar
{
	display:none;
	vertical-align: middle;
	font-size: 28px;
	margin-right: 15px;
}

/*** booking page css here ***/

/*** date picker css here ***/
.ui-datepicker.ui-widget{background: #fff;border: 1px solid #ddd;min-width: 311px;}
.ui-datepicker.ui-widget .ui-datepicker-header{background: none;border: none;}
.ui-datepicker.ui-widget .ui-datepicker-prev .ui-icon, .ui-datepicker.ui-widget .ui-datepicker-next .ui-icon {background:url("src/assets/images/left_arrow.png") no-repeat scroll center center;cursor: pointer;height: 35px;left: 0;margin: 0;top: 0;width: 35px;}
.ui-datepicker.ui-widget .ui-datepicker-next .ui-icon {	background:url("src/assets/images/right_arrow.png") no-repeat scroll center center;}
.ui-datepicker-title {color: #000;}
.ui-datepicker.ui-widget a.ui-state-active{background: #15a5fb;color: #fff;}
.ui-datepicker.ui-widget .ui-state-default, .ui-datepicker.ui-widget .ui-widget-content .ui-state-default, .ui-datepicker.ui-widget .ui-widget-header .ui-state-default {color: #000;padding: 0 10px;text-align: center;text-shadow: none;}
.ui-datepicker .ui-datepicker-prev {left: 2px !important;top: 2px !important;}
.ui-datepicker .ui-datepicker-next {right: 2px !important; top:2px !important;}
.bootstrap-timepicker-widget.dropdown-menu.open {
    display: block;
    padding: 5px;
}
.bootstrap-timepicker-widget {text-align: center;}
.bootstrap-timepicker-widget input {border: 1px solid #ccc;	padding: 5px;text-align: center;border-radius: 5px;width: 75px;}
.bootstrap-timepicker-widget table td {padding: 5px 10px;}
/*** date picker css here ***/

.custom_select .fstElement
{
	display: block;
	font-size: 12px;
	border-radius: 5px;
}
.custom_select .fstElement .fstControls
{
	width: 100%;
}
.custom_select .fstElement .fstControls .fstQueryInput
{
	color:#000;
	padding: 5px;
}
.custom_select .fstChoiceItem, .custom_select .fstResultItem.fstSelected, .custom_select .fstResultItem.fstFocused
{
	background-color: #2e4485;
	border-color:#2e4485;
}
.attireMainNav
{
	display:none;
}

.add_formarea h4 {
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 15px;
	color:rgb(150, 43, 43);
}



.online_user h4
{
	font-weight: 700;
	color: #333333;
	margin-bottom: 35px;
}
.online_user h4 a
{
	color: #f1a732;
	font-size: 16px;
	font-weight: 400;
	text-decoration: underline;
	float: right;
}
.online_user h4 a:hover
{
	text-decoration: none;
}
.online_user ul li
{
	position: relative;
	padding-left: 80px;
	border-bottom: 1px solid #dddddd;
	min-height: 98px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.online_user ul li:last-child
{
	border-bottom: none;
}
.online_user ul li img
{
	border-radius: 100%;
	border: 2px solid #cdcdcd;
	position: absolute;
	left: 0;
	top: 15px;
	width: 68px;
	height: 68px;
}
.online_user_status
{
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background: #00ff0c;
	position: absolute;
	display: inline-block;
	right: 0;
	top: 30px;
}
.online_user ul li p
{
	padding-top: 23px;
}
.current_commission
{
	background: #d7e7db;
	font-size: 18px;
	color: #242424;
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 45px;
}
.plan_action_btn
{
	color:#242424;
	display: inline-block;
	margin-top: 10px;
	margin-right: 20px;
}
.plan_action_btn:hover
{
	color:#2e4485;
}
.big_model .modal-dialog {
	width: auto;
	max-width: 900px;
}

/****new****/
.upload_icon .upload_image {
    border: 1px dotted #ccc;
    padding: 30px;
    text-align: center;
}
.upload_icon .upload_image img {
    height: 100px;
    width: 100px;
}
.upload_icon .upload_text {
    color: #060606 !important;
    font-size: 16px !important;
    margin-top: 10px !important;
}
.table_icon {
    height: 25px;
}
/****end****/


.text-uppercase.submit_btn.yellow_btn {
	border: none;
	color: #fff;
	border-radius: 4px;
	margin: 26px auto;
	display: block;
	padding: 10px 22px;
}
/* 17-4-2019 */
.redeem_table .tables_area .table-responsive {
    max-height: 300px !important;
    overflow-y: auto;
}
/* 7-8-2019 */
.user_details {
    font-family: sans-serif;
}
.user_details .nsm-dialog {
    max-width: 650px;
}
.subscription_details .nsm-dialog {
    max-width: 936px;
}
.user_details h4 {
    font-size: 18px;
	margin-bottom: 20px;
	color:#007bff;
}
.user_details h3, .user_details h5 {
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
}
.user_details h6{
	margin-bottom: 2px;
	font-size: 14px;
    font-weight: normal;
    line-height: 22px;
}
.user_details h5 b, .user_details h6{
	color: #468bf3;
}

.user_details .nsm-content {
    padding: 30px;
}
.user_details ul li {
	margin-bottom: 14px;
	position: relative;
}

/*** responsive css here ***/
@media screen and (max-width:1200px)
{
	.search_form li
	{
		width: 32%;
		margin-right: 1.333%;
	}
	.online_user, .subscription_box
	{
		margin-top: 15px;
	}
}

@media screen and (max-width:991px)
{
	.main-page
	{
		padding-left: 0;
	}
	.left_sidebar
	{
		left:-270px;
	}
	.left_sidebar.active
	{
		left:0;
	}
	.dashboard_logoarea a.menu_bar
	{
		display:inline-block;
	}
}

@media screen and (max-width:767px)
{
	.login_form_outer
	{
		margin: 20px auto 0;
	}
}


.errorMsg{
	color:#de0000;
	
}




/*** responsive css here ***/



.login_form p {
    margin-top: 15px;
}


.logo_header img { height: 68px; }


.grad_bg {
	background:url("src/assets/images/top_banner.png") no-repeat scroll center center;
	/* background: -moz-linear-gradient(45deg, #1e5799 0%, #207cca 0%, #de0000 0%, #850000 100%); */
	/* background: -webkit-linear-gradient(45deg, #1e5799 0%,#207cca 0%,#de0000 0%,#850000 100%); */
	/* background: linear-gradient(45deg, #1e5799 0%,#207cca 0%,#de0000 0%,#850000 100%); */
	background-repeat: no-repeat;
	background-size: cover;
	position:fixed;
	height:100%;
	width:100%;
}

.login_pop{
	font-size: 14px;
	margin-bottom: -10px;
	margin-top: 6px !important
}

.grey_box {
		  background: #f6f6f6 none repeat scroll 0 0;
		  padding: 15px;
		}
.gre_box > li {
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
}
.gre_box p {
  text-align: center;
}
.sto {
color: #2e4485;
    font-weight: 600;
    padding: 15px;
    text-transform: uppercase;
	
}
.price {
  color: #2e4485;
  font-weight: bold;
}




.alert_modal .modal-header {
	background: #1e5799;
	/* background: -moz-linear-gradient(45deg, #1e5799 0%, #207cca 0%, #de0000 0%, #850000 100%); */
	/* background: -webkit-linear-gradient(45deg, #1e5799 0%,#207cca 0%,#de0000 0%,#850000 100%); */
	background: linear-gradient(45deg, #1e5799 0%,#207cca 0%,#de0000 0%,#850000 100%);
/* 	background: #850000;
 */	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.alert_modal .modal-header .close {
	color: #fff;
	opacity: 1;
}
.alert_modal .modal-body {
	text-align: center;
	padding: 20px 15px;
	font-size: 18px;
}


.column 
{
    text-align: left;
    background-color: #f7f7f7;
    font-size: 14px;
}

.content p
 {
    margin-top: 0;
    margin-bottom: 16px;
    color: #212121;
    font-family: Roboto, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.red_m {
	background: #a30000;
	color: #fff;
	padding: 5px 6px;
	font-size: 13px;
	border-radius: 4px;
}


.field-icon {
    float: right;
	margin-right: 7px;  
	margin-top: -25px;
    position: relative;
    z-index: 2;
}

.my_center{
    text-align:center; 
}

.search_form {

	margin-bottom:20px;
	width:240px !important ;
} 

.my_style1{
    margin-bottom:20px;
    margin-left:30px;
}

.filter th span{
    visibility: hidden;
}
.filter th.active span{
    visibility: visible;
}
