<app-topbarleftmenu> </app-topbarleftmenu>

<div class="main-page">
        <div class="content_area">
    <!-- start content area here -->
        <div class="tables_area">
            <h2 class="page_heading" style="font-size:28px;" >Edit User Detail</h2>      
        <div class="white_box">
            <div class="add_formarea">
            <form   [formGroup]="editUserDetailForm" (ngSubmit)="onSubmit()">               
                    <div class="row">
                            <aside class="col-lg-6">
                            <label>First Name</label>
                            <input value="" class="form-control" formControlName="firstName" type="text" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" required>
                            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback ">
                                    <div *ngIf="f.firstName.errors.required">First Name is required</div>
                            </div>
                        
                        </aside>
                        <aside class="col-lg-6">
                                <label>Last Name</label>
                                <input value="" class="form-control" formControlName="lastName" type="text" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" required>
                                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                        <div *ngIf="f.lastName.errors.required">LAST Name is required</div>
                                </div>
                        
                            </aside>
                        
                        
                    </div>
                    <div class="row">
                            <aside class="col-lg-6">
                            <label>Email</label>
                            <input value="" class="form-control" formControlName="email" type="text" [readonly]="true" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required>
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback ">
                                    <div *ngIf="f.email.errors.required">Email is required</div>
                            </div>
                        
                        
                        </aside>
                        <aside class="col-lg-6">
                                <label>Location</label>
                                <input value="" class="form-control" formControlName="address"  type="text"  [ngClass]="{ 'is-invalid': submitted && f.address.errors }" required>
                                <div *ngIf="submitted && f.address.errors" class="invalid-feedback myline">
                                        <div *ngIf="f.address.errors.required">Address is required</div>
                                </div>
                        
                            </aside>
                        
                        
                        
                    </div>
                <br>
                <div class="row">

                <aside class="col-sm-5">
                    <button type="submit" id="upload" class="blue_btn yellow_btn big_yellow text-uppercase" >Update</button>

                </aside>
                </div>
            </form>
                </div>

            </div>
        </div>
    </div>
</div>

