<app-topbarleftmenu> </app-topbarleftmenu>

<div class="main-page">
    <!-- start content area here -->
    <div class="content_area">
            <h2 class="page_heading">Edit Profile</h2>
            <form [formGroup]="editProfileForm" (ngSubmit)="onSubmit()" class="form-signin">

			<div class="white_box my_profile">

				<div class="row">

					<aside class="col-lg-4 text-center">
                        <div class="upload_image">

						<img src="assets/images/default_image.jpg" alt="" class="img-circle profile_image" id="viewProfileImage"/> 
						<input type="file" id="editProfileImage"  formControlName="image" accept="image/*" formControlName="image" (change)="onFileChanged($event)" [ngClass]="{ 'is-invalid': submitted && f.image.errors }" />
                        <p class="upload_text">Upload Image</p>
                        
                        </div>
                        
					</aside>
					<aside class="col-lg-8">
						<div class="row">
                                <aside class="col-lg-6">
								<label>First Name</label>
								<input value="" class="form-control" formControlName="firstName" type="text" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" required>
                                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback ">
                                        <div *ngIf="f.firstName.errors.required">First Name is required</div>
                                </div>
                            
                            </aside>
                            <aside class="col-lg-6">
                                    <label>Last Name</label>
                                    <input value="" class="form-control" formControlName="lastName" type="text" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" required>
                                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                            <div *ngIf="f.lastName.errors.required">LAST Name is required</div>
                                    </div>
                            
                                </aside>
                            
							
                        </div>
                        <div class="row">
                                <aside class="col-lg-6">
								<label>Email</label>
								<input value="" class="form-control" formControlName="email" type="text" [readonly]="true" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required>
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback ">
                                        <div *ngIf="f.email.errors.required">Email is required</div>
                                </div>
                            
                            
                            </aside>
                            <aside class="col-lg-6">
                                    <label>Address</label>
                                    <input value="" class="form-control" formControlName="address"  type="text"  [ngClass]="{ 'is-invalid': submitted && f.address.errors }" required>
                                    <div *ngIf="submitted && f.address.errors" class="invalid-feedback myline">
                                            <div *ngIf="f.address.errors.required">Address is required</div>
                                    </div>
                            
                                </aside>
                            
							
						</div>
						
						<button type="submit" class="blue_btn yellow_btn text-uppercase" >Update</button>
                    </aside>
                </div>
			</div>
            </form>



		</div>









        

        </div>
   